/* Estilos CSS aquí */
form {
    width: 50%;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #a3f6fe; /* Color de fondo del formulario */
    max-width: 500px; /* Movido aquí para evitar duplicación */
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  input[type="text"],
  input[type="number"],
  textarea,
  select,
  input[type="date"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box; /* Asegura que el padding no afecte el ancho total */
  }
  
  textarea {
    resize: vertical; /* Permite que el textarea sea redimensionable verticalmente */
  }
  
  input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type="submit"]:hover {
    background-color: #45a049;
  }
  

  .logo-container {
    text-align: center;
    margin-bottom: 20px;
}

.logo-container img {
    width: 200px; /* Tamaño del logo */
    margin-bottom: 5px;
}
